<ion-view title="Pedido">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header">
        <div id="mapRequest" data-tap-disabled="true"></div>
        <form class="list" name="newSearchForm">
            
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Producto</span>
                    <input type="text" ng-model="peticion.text" placeholder="">
                </label>
                
            </ion-list>
           
           
            
        </form>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Tu respuesta" on-return="showSendMessage(); closeKeyboard()" ng-model="response" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-click="showSendMessage()">
        Enviar
    </button>
  </ion-footer-bar>
</ion-view>